/*BARRE NAV*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(rgba(255, 0, 0, 0.64), rgba(0, 201, 255, 0.55));
  margin-top: 0px;
  height: 50px;
  font-family: 'Russo One', sans-serif;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive;
}

a {
  text-decoration: none;
  color: black;
  transition: color 1s ;

}

a:hover {
  color: white;
  cursor: url('move.cur') , auto;

}

html, nav, tr, td, th {
  cursor: url('cursor.cur'), auto;
  font-family: 'Russo One', sans-serif;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive;

}
body{
  margin: 0;
}
/*BOUTON OK*/
.buttonOK{
  border-radius: 198px  9090px ;
  background: linear-gradient(rgba(255, 0, 0, 0.64), rgba(0, 201, 255, 0.55));
  font-family: 'Russo One', sans-serif;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive;
}
/*BODY INDEX*/
#bodyindex {
  margin: 0;
  width: 100%;
  background-image: url('fondindex.jpg');
  background-size: cover;
}

/*animation des images e l'index*/
#mainindex{
  display: flex ;
  align-items: center;
  flex-direction: column;
}


.photoindex {
  height: 200px;
  width: auto;
}

#animationindex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

.photoindex0 {
  height: 205px;
  width: auto;
  margin-left: 5%;
  animation: entree 2s;
}

@keyframes entree {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.photoindex2 {
  height: 205px;
  width: auto;
  animation: sortie 2s;
}

@keyframes sortie {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

#photoindex1 {
  height: 12%;
  width: 40%;
  animation: fondu 10s;
}

@keyframes fondu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#h1index {
  background: linear-gradient(rgba(255, 0, 0, 0.64), rgba(0, 201, 255, 0.55));
  color: white;
  font-family: 'Press Start 2P', cursive;
  height: 12%;
  width: 31%;
  padding: 2%;
  box-shadow: 5px 5px 5px black;
  animation: fondu 5s;
  text-align: center;
}


@keyframes fondu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*BODY CONNEXION*/
#bodyconnexion {
  margin: 0;
  width: 100%;
  background-image: url('fondconnexion.gif');
  background-size: 100% 100%;
  background-attachment: fixed;
}
#form-con
{
  display: flex;
  align-items: center;
}
#form-con input
{
  margin: 1%; 
}
#labelconnexion {
  margin: 200px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.49);
  width: auto;
  border-radius: 150px;
  box-shadow: 5px 5px 5px black;
}


/*BODY INSCRIPTION*/
#bodyinscription {
  margin: 0;
  width: 100%;
  height: auto;
  background-image: url('inscriptionreservation.gif');
    background-size: 100% 100%;
  background-attachment: fixed;

}
#form-inscr
{
  display: flex;
  flex-direction: column;
  align-items: center;

}
#sec-inscr
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25px;
}
#inscriptionreservationform{
font-size: 13px;
background-color:white;
margin: 200px;
padding: 50px;
background-color: rgba(255, 255, 255, 0.55);
width: 45%;
border-radius: 150px;
box-shadow: 5px 5px 5px black;
}

.aling{
  display: flex;
  justify-content: space-between;
  width: 60%;

}

.mr30 {
  margin-right: 30px;
}

.flexc {
  display: flex;
  flex-direction: column;
}

.flexr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/*BODY PLANNING*/
#bodyplanning {
  width: 100%;

  background-image: url('fondreservation.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}

#choixsem
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

td,th
{ 
  background-color: rgba(217, 170, 170, 0.5);
  width: 200px;
  height: 100px;
  padding: 0;
}

th
{
  background: linear-gradient(rgba(255, 0, 0, 0.64), rgba(0, 201, 255, 0.55));
}
.pris
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e8181896;
}

.vide
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#tableaureservationgeneral{
  margin:0;
}
#maintab {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.heur{
  color: white;
}

/*BODY PROFIL*/
#bodyprofil {
  margin: 0;
  width: 100%;
  background-image: url('fondprofil.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}
#panelprofil{
  margin-bottom: 10px;
}
#changementdepseudo{
  font-size: 13px;
  background-color:white;
  margin: auto;
  margin-top: 10%; 
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 150px;
  width: 40%;
  animation: pseu 0.5s;

}

@keyframes pseu {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*BODY RESERVATION form*/
#bodyreservation {
  margin: 0;
  width: 100%;
  background-image: url('fondreservation.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}

.reservationform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  background-color:white;
  border-radius: 40px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.55);
  width: 60%;
  margin: auto;
  margin-top: 10%;
}

.align1{
  display: flex;
  justify-content: center;


}

/*BODY RESERVATION */

#bodyreservation4{
  background-image: url("fondreservation.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

#reponseformulaire{
  display: flex;
  justify-content: center;
  margin: 100px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.49);
  width: auto;
  border-radius: 160px 24px 340px 230px;
  align-items: center;
  animation: formu 2s 1;
  box-shadow: 5px 5px 5px black;
}

@keyframes formu {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
